<mat-card>
  <mat-card-content>
    <form [formGroup]="eventFilterForm">
      <div class="col">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-select placeholder="Country" formControlName="country" [compareWith]="compareEventsByCountry"
                        (selectionChange)="selectedCountry($event.value)">
              <mat-option *ngFor="let country of countries"
                          [value]="country">{{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <mat-select placeholder="State/Province" formControlName="state" [compareWith]="compareEventsByState"
                        (selectionChange)="selectedState($event.value)">
              <mat-option *ngFor="let state of filteredStates"
                          [value]="state">{{state.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <mat-select placeholder="City" formControlName="city" (selectionChange)="selectedCity($event.value)"
                        [compareWith]="compareEventsByCity">
              <mat-option *ngFor="let city of filteredCities"
                          [value]="city">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Organization" formControlName="organization"
                        (selectionChange)="selectedOrg($event.value)"
                        [compareWith]="compareEventsByOrganization">
              <mat-option *ngFor="let organization of filteredOrganizations"
                          [value]="organization">{{organization.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </form>
    <button mat-raised-button style="width: 100%" (click)="reset()">Rest</button>
  </mat-card-content>
</mat-card>

