.full-width {
  width: 100%;
}

.mt-60 {
  margin-top: 60%;
}

.mr-10 {
  margin-right: 10px !important;
}

.facilitators {
  height: calc(100vh - 370px);
  width: 90%;
  display: block;
}

.facilitatorsDiv {
  display: flex;
  flex-direction: column;
  position: relative;
}



