# See http://help.github.com/ignore-files/ for more about ignoring files.
# NativeScript
hooks/
node_modules/
platforms/
  .migration_backup/
        .vscode/launch.json

# NativeScript Template
*.js.map
*.js
!ngcc.config.js
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/
# compiled output
/tmp
/out-tsc
/dist
/dist/apps/admin/*
/dist/nxdeps.json
!/dist/apps/admin/404.html

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/documentation
firebase-debug.log


/functions/node_modules/*
/functions/lib/*
.firebase
.scannerwork

/seed_data/keys/**
/seed_data_all/keys/**
seed_data_all/keys/*
seed_data/keys/*

.firebaserc


/apps/web/src/environments/environment.ts
/apps/admin/src/environments/environment.ts
/apps/client/src/environments/environment.ts

.gitconfig

/apps/**/*.js
/libs/**/*.map
/libs/**/__ngcc_entry_points__.json

cypress
