<h2 mat-dialog-title>Question Type</h2>
<mat-dialog-content [formGroup]="formGroup" novalidate class="ref-dialog">

  <mat-form-field>
    <input id="questionTypeName" matInput placeholder="Name" formControlName="name" i18n-placeholder="@@name">
    <mat-error *ngIf="formGroup.controls['name'].hasError('required')"
               i18n="@@didYouForgetToInputValue">
      Did you forget to input a value?
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select id="questionType" placeholder="Type" formControlName="type" i18n-placeholder="@@type">
    <mat-option *ngFor="let fieldType of formFieldTypes | enumToArray" [value]="fieldType" >{{fieldType}}</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input id="questionTypeLabel" matInput placeholder="Label" formControlName="label" i18n-placeholder="@@label">
  </mat-form-field>
  <mat-form-field>
    <mat-select id="questionTypeAnswerType" placeholder="Answer Type" formControlName="answerType" i18n-placeholder="@@answerType">
      <mat-option *ngFor="let answerType of answerTypes | enumToArray" [value]="answerType" >{{answerType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Active" formControlName="active" i18n-placeholder="@@active">
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>

  <button *ngIf="dataObj.type === 'view'" mat-flat-button color="primary" (click)="cancel()" i18n="@@ok">OK
  </button>
  <button *ngIf="dataObj.type !== 'view'" mat-flat-button color="primary" (click)="onSave()"
          [disabled]="formGroup.invalid" i18n="@@save">Save
  </button>
  <button *ngIf="dataObj.type !== 'view'" mat-flat-button color="accent" (click)="cancel()" i18n="@@cancel">Cancel</button>
</mat-dialog-actions>

