<h1 mat-dialog-title>Update Profile Password</h1>
<mat-dialog-content class="ref-dialog">
  <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Password*" formControlName="password" type="password">
        </mat-form-field>
        <div *ngIf="submitted && upf.password.errors">
          <mat-error *ngIf="upf.password.errors.required">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="upf.password.errors.minlength">
            Password should contain at least 6 characters
          </mat-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Confirm Password*" formControlName="confirmPassword" type="password">
        </mat-form-field>
        <div *ngIf="submitted && upf.confirmPassword.errors">
          <mat-error *ngIf="upf.confirmPassword.errors.required">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="upf.confirmPassword.errors.isPasswordaMatch">
            Password should be the same
          </mat-error>
        </div>
      </div>
    </div>

    <div mat-dialog-actions>

      <button mat-flat-button color="primary" type="submit" cdkFocusInitial>Update</button>
      <button mat-flat-button color="accent" type="button" (click)="onNoClick()">Cancel</button>
    </div>

  </form>

</mat-dialog-content>
