<h2 class="h2_margin_ra">Activities</h2>
<mat-card>
  <div class="bacground-image" style="background-image: url('assets/images/v-mindful-walking.png')"></div>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let activity of course?.activities | keyvalue">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{activity.value.name}}</h4>
        <p mat-line> {{activity.value.type.description}} </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


